<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="css/styles.css">
    <script th:src="@{/js/scripts.js}" defer="true"></script>
</head>

<body>

<a th:href="@{/oauth2/authorization/blizzard}">
    <button>Add a new character from your Blizzard Account</button>
</a>

<div th:each="char : ${warcraftCharacter}" class="character-box">
    <h2>
        <a th:href="'/character/' + ${char.id}" th:text="${char.name + ' - ' + char.server}">Name - Server</a>
    </h2>
    <label>
        <input type="checkbox" th:checked="${char.favorite}" th:attr="onchange='toggleFavoriteStatus(' + ${char.id} + ', ' + ${char.favorite} + ')'" />
        Favorite
    </label>
    <button type="button" th:attr="onclick='confirmDelete(' + ${char.id} + ')'">Delete</button>


</div>

</body>

</html>