<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

        <a th:href="@{/oauth2/authorization/blizzard}">
        <button>Add a new character from your Blizzard Account</button>
    </a>

    <div th:each="char : ${warcraftCharacter}">
        <a th:href="'/character/' + ${char.id}">
            <h2 th:text="${char.name + ' - ' + char.server}">Name - Server</h2>
        </a>
    </div>
</body>

</html>