<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task list</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script th:src="@{/js/scriptsTasks.js}" defer="true"></script>

</head>

<body>
    <h1>
        <a th:href="'http://localhost:8080'">Homepage</a>
    </h1>

<form id="createTaskForm">
    <label for="taskName">Task Name:</label>
    <input type="text" id="taskName" name="taskName" required>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required>

    <button type="button" onclick="createTask()">Create Task</button>
</form>

<div>
    <h2 th:text="${character.name + ' - ' + character.server + ' / To-Do List '}">Character: Name - Server</h2>
</div>

<div th:each="task : ${tasks}" class="character-box">
    <h2 th:text="${task.taskName}">Task name</h2>
    <p th:text="${task.description}">Task description</p>
    <button type="button" th:attr="onclick='openEditModal(' + ${task.id} + ')'">Edit</button>
    <label>
        <input type="checkbox" th:checked="${task.isCompleted}" th:attr="onchange='toggleCompleteStatus(' + ${task.id} + ', ' + ${task.isCompleted} + ')'" />
        done
    </label>
    <button type="button" th:attr="onclick='confirmDelete(' + ${task.id} + ')'">Delete</button>
</div>

<div id="editTaskModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h3>Edit Task</h3>
        <label for="editTaskName">Task Name:</label>
        <input type="text" id="editTaskName" name="editTaskName" required>

        <label for="editDescription">Description:</label>
        <input type="text" id="editDescription" name="editDescription" required>

        <button type="button" onclick="saveEditedTask()">Save Changes</button>
    </div>
</div>

</body>
</html>

